/*==========  header  ==========*/
header {
  padding-top: 56px;
  font-size: 14px; }

.header-top {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  background: #3A3B3F;
  color: #fff; }
  .header-top .container-fluid {
    padding: 0 30px; }
  .header-top .logo {
    max-width: 130px;
    width: 100%;
    margin: 0 30px 0 0;
    display: none; }
    .header-top .logo img {
      width: 100%; }
  .header-top .navigation-user {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 30px;
    display: none; }
    .header-top .navigation-user li {
      border: none;
        border-left: 1px solid rgba(255, 255, 255, 0.1); }
      .header-top .navigation-user li:first-child {
        border: none;
          border-left: 1px solid rgba(255, 255, 255, 0.1); }
    .header-top .navigation-user a {
      padding: 18px 30px;
      color: #fff; }
      .header-top .navigation-user a:first-child {
        padding: 18px 30px; }
  .header-top .navigation-user-links__icon {
    fill: #fff; }
    .header-top .navigation-user-links__icon img {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
  .header-top .navigation-user-links__icon.fill-none {
    stroke: #fff; }
  .header-top .user-links .navigation-user-links__icon {
    margin: 0; }
  .header-top .navigation-user-links {
    position: relative; }
    .header-top .navigation-user-links__text {
      position: absolute;
      right: 5px;
      top: 11px;
      min-width: 20px; }
  .header-top.fixed .container-fluid {
    padding: 0 0 0 20px; }
  .header-top.fixed .navigation-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-top.fixed .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.btn-search {
  fill: none;
  stroke: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-search .svg-icon {
    width: 24px;
    height: 24px; }

.location-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin: 0 14px 0 0; }
  .location-item__icon {
    fill: none;
    stroke: #fff;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.menu {
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu li {
    margin: 0 0 0 14px; }
    .menu li:first-child {
      margin: 0; }
    .menu li > a {
      padding: 19.38px 16px;
      color: #fff; }
      .menu li > a:hover {
        color: #A81815; }
      .menu li > a.location-item {
        padding: 0; }
  .menu .dropdown-information {
    display: none; }

.dropdown-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.city {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: #272727; }
  .city:hover {
    color: #A81815; }

.dropdown-contacts {
  margin: 0 0 0 13px; }
  .dropdown-contacts .dropdown-toggle {
    padding: 19.38px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff; }
    .dropdown-contacts .dropdown-toggle__phone {
      margin: 0 10px 0 0; }
  .dropdown-contacts .dropdown-menu {
    min-width: 380px;
    max-width: 380px;
    left: auto !important;
    right: 0 !important; }

.contacts-item {
  margin: 0 0 20px; }
  .contacts-item:last-child {
    margin: 0; }
  .contacts-item p {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 10px; }
  .contacts-item__links {
    color: #272727;
    font-size: 24px; }
    .contacts-item__links:hover {
      color: #A81815; }

.header-bottom {
  padding: 30px 40px; }
  .header-bottom .container-fluid {
    padding: 0; }

.logo {
  max-width: 186px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.description-company {
  margin: 0 40px;
  max-width: 139px;
  width: 100%; }

.company-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .company-experience__logo {
    max-width: 70px;
    width: 100%;
    margin: 0 13px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .company-experience__text {
    max-width: 130px;
    width: 100%; }

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .navigation-user li {
    border-left: 1px solid #E6E6E6; }
    .navigation-user li a {
      padding: 0 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #272727; }
      .navigation-user li a:hover {
        color: #A81815; }
    .navigation-user li:last-child a {
      padding-right: 0; }
    .navigation-user li:first-child {
      border: none; }
      .navigation-user li:first-child a {
        padding-left: 0; }
  .navigation-user__search {
    display: none; }

.navigation-user-links__text {
  margin: 0 0 0 15px; }

.navigation-user-links__icon {
  width: 24px;
  height: 24px;
  min-width: 24px; }
  .navigation-user-links__icon.fill-none {
    fill: none;
    stroke: #272727; }

.basket-links__value {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .basket-links__value:before {
    content: '/';
    display: inline-block;
    margin: 0 15px;
    color: #E6E6E6;
    font-weight: bold; }

.user-links .navigation-user-links__icon {
  margin: 0 20px 0 0; }

.user-links .dropdown-toggle:after {
  margin-left: 0; }

.phone-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: #3A3B3F;
  stroke: #FFFFFF;
  fill: none;
  padding: 10px; }

/*==========  header end  ==========*/
/*==========  fixed menu  ==========*/
.overlay-bg {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .2;
  display: none; }

.fixed-navigation {
  width: 130px;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 56px 0 0;
  z-index: 3;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .fixed-navigation:hover {
    background: #F6F6F6; }

.menu-navigation {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .menu-navigation__item {
    width: 130px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: initial; }
    .menu-navigation__item:last-child .menu-navigation__links {
      border-bottom: none; }
    .menu-navigation__item.js-tab-trigger .menu-navigation__links:after {
      content: '';
      position: absolute;
      bottom: 8px;
      right: 7px;
      border: none;
        border-bottom: 6px solid;
        border-left: 6px solid transparent; }
    .menu-navigation__item-mob {
      display: none; }
      .menu-navigation__item-mob .sale-icon {
        max-width: 16px;
        right: -20px;
        top: 0; }
      .menu-navigation__item-mob .fill-none {
        stroke: none;
        fill: #272727; }
      .menu-navigation__item-mob .menu-navigation__links:hover .fill-none {
        fill: #A81815;
        stroke: none; }
      .menu-navigation__item-mob .menu-navigation__links .menu-navigation__links-icon {
        position: relative;
        width: 24px;
        height: 24px; }
        .menu-navigation__item-mob .menu-navigation__links .menu-navigation__links-icon img {
          width: 100%;
          max-height: 100%; }
      .menu-navigation__item-mob .menu-navigation__links.active .menu-navigation__links-icon {
        stroke: #A81815;
        fill: none; }
      .menu-navigation__item-mob .menu-navigation__links.active .fill-none {
        fill: #A81815;
        stroke: none; }
  .menu-navigation__links {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    line-height: 120%;
    color: #272727;
    font-weight: normal;
    padding: 18px;
    text-align: center;
    position: relative;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6; }
    .menu-navigation__links:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background: -webkit-gradient(linear, left bottom, left top, from(#DE2C29), to(#DE2C29)), #A81815;
      background: linear-gradient(0deg, #DE2C29, #DE2C29), #A81815;
      opacity: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .menu-navigation__links-icon {
      width: 32px;
      height: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto 10px;
      fill: none;
      stroke: #272727; }
    .menu-navigation__links.active {
      background: #fff;
      color: #A81815; }
      .menu-navigation__links.active:before {
        opacity: 1; }
      .menu-navigation__links.active .menu-navigation__links-icon {
        stroke: #A81815; }
    .menu-navigation__links:hover {
      background: #fff;
      color: #A81815;
      border-right-color: transparent; }
      .menu-navigation__links:hover:before {
        opacity: 1; }
      .menu-navigation__links:hover .menu-navigation__links-icon {
        stroke: #A81815; }

.dropdown-submenu-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #272727; }
  .dropdown-submenu-prev__icon {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    stroke: #272727;
    fill: none;
    margin: 0 10px 0 0;
    width: 24px;
    height: 24px;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .dropdown-submenu-prev:hover {
    color: inherit; }

.sale-icon {
  position: absolute;
  top: 8px;
  right: 9px;
  max-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.basket-value {
  position: absolute;
  right: -20px;
  top: 0;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#DE2C29), to(#DE2C29)), #A81815;
  background: linear-gradient(0deg, #DE2C29, #DE2C29), #A81815;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  border-radius: 50%; }

.js-tab-trigger.active > a {
  background: #fff;
  color: #A81815;
  border-right-color: transparent; }
  .js-tab-trigger.active > a:before {
    opacity: 1; }

.js-tab-trigger.active .menu-navigation__links-icon {
  stroke: #A81815; }

.btn-close-submenu {
  position: absolute;
  right: -94px;
  top: 30px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 64px;
  height: 64px;
  z-index: 2;
  padding: 22px;
  display: none; }
  .btn-close-submenu:hover {
    background: #A81815;
    fill: #fff; }

.dropdown-submenu {
  height: 100%;
  min-width: 371px;
  background: #FFFFFF;
  border: none;
    border-radius: 0;
  padding: 0; }
  .dropdown-submenu__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 50px 60px; }
  .dropdown-submenu__title {
    margin: 40px 0;
    color: #1E1E1E;
    font-size: 32px; }

.menu-navigation-submenu {
  font-size: 16px; }
  .menu-navigation-submenu li {
    margin: 0 0 7px;
    padding: 10px 0;
    min-height: 68px; }
    .menu-navigation-submenu li a {
      white-space: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #272727; }
      .menu-navigation-submenu li a:hover {
        color: #A81815; }
        .menu-navigation-submenu li a:hover .menu-navigation-submenu__icon {
          stroke: #A81815; }
  .menu-navigation-submenu__icon {
    fill: none;
    stroke: #272727;
    width: 48px;
    height: 48px;
    margin: 0 20px 0 0; }
  .menu-navigation-submenu .js-tab-trigger > a:after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url("../img/arrow-right-red.svg") no-repeat center;
      background-size: 100%;
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin: 0 0 0 20px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .menu-navigation-submenu .js-tab-trigger > a:hover:after {
    opacity: 1; }

.js-tab-content {
  display: none;
  height: 100%; }

.js-tab-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.dropdown-menu-right {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .dropdown-menu-right .js-tab-trigger.active a:after {
    opacity: 1; }
  .dropdown-menu-right .js-tab-trigger.active a .menu-navigation-submenu__icon {
    stroke: #A81815; }

/*==========  fixed menu end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
