/*==========  section home ==========*/
.home {
  position: relative; }
  .home .list-social {
    top: 30px;
    right: 30px;
    position: absolute;
    z-index: 1; }

.home-slider__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1; }

.home-slider .slide {
  position: relative;
  z-index: 1; }
  .home-slider .slide:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    z-index: 1; }

.home-slider__title {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 12px 60px rgba(0, 0, 0, 0.5);
  font-size: 56px;
  font-weight: 600;
  margin: 0 auto 10px; }

.home-slider__text {
  text-align: center;
  text-shadow: 0 12px 60px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-weight: 600; }

.home-slider__item {
  position: relative;
  width: 100%;
  min-height: 777px;
  color: #fff;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.home-slider .slick-dots {
  bottom: 104px; }

.home-slider .btn {
  margin: 30px auto 0; }

/*==========  section home end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  margin: -63px 0 50px;
  position: relative;
  z-index: 1; }

.advantages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-shadow: 0 20px 80px -20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 80px -20px rgba(0, 0, 0, 0.1);
  background: #3A3B3F;
  color: #fff;
  margin: 0 0 51px; }

.advantages-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 40px 60px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 135%;
  border-right: 1px solid rgba(255, 255, 255, 0.1); }
  .advantages-box:last-child {
    border: none; }
  .advantages-box:before {
    content: '';
    margin: 0 0 20px;
    width: 8px;
    height: 8px;
    background: -webkit-gradient(linear, left bottom, left top, from(#DE2C29), to(#DE2C29)), #A81815;
    background: linear-gradient(0deg, #DE2C29, #DE2C29), #A81815;
    display: inline-block; }

.advantages-category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.advantages-category-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px 60px 20px;
  border-right: 1px solid #E6E6E6; }
  .advantages-category-item:last-child {
    border: none; }
  .advantages-category-item__icon {
    margin: 0 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 128px; }
    .advantages-category-item__icon img {
      max-height: 100%; }
  .advantages-category-item .btn {
    margin: 30px 0 0; }

/*==========  section advantages end  ==========*/
/*==========  section serial-furniture ==========*/
.serial-furniture-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.serial-furniture h2 {
  color: #fff; }

.serial-furniture-box {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
  background: #fff;
  border: 1px solid #E6E6E6;
  margin: 0 -0.5px -0.5px;
  width: 16.67%;
  padding: 40px 40px 39px;
  text-align: center;
  color: #272727;
  font-size: 14px;
  font-weight: 500;
  z-index: 1; }
  .serial-furniture-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 30px;
    width: 96px;
    height: 96px;
    position: relative;
    z-index: 2; }
    .serial-furniture-box__icon img {
      max-height: 100%; }
    .serial-furniture-box__icon .img-hover {
      display: none; }
  .serial-furniture-box:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#DE2C29), to(#DE2C29)), #A81815;
    background: linear-gradient(0deg, #DE2C29, #DE2C29), #A81815;
    z-index: -1; }
  .serial-furniture-box__text {
    position: relative;
    z-index: 2; }
  .serial-furniture-box:hover {
    color: #fff;
    z-index: 2;
    -webkit-box-shadow: 0 50px 80px -50px rgba(0, 0, 0, 0.3);
            box-shadow: 0 50px 80px -50px rgba(0, 0, 0, 0.3); }
    .serial-furniture-box:hover:before {
      opacity: 1;
      z-index: 1; }
    .serial-furniture-box:hover .serial-furniture-box__icon img {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
    .serial-furniture-box:hover .serial-furniture-box__icon .img-default {
      display: none; }
    .serial-furniture-box:hover .serial-furniture-box__icon .img-hover {
      display: block;
      -webkit-filter: none;
              filter: none; }

/*==========  section serial-furniture end  ==========*/
/*==========  section advantages-program  ==========*/
.advantages-program {
  padding: 100px 0 0; }

.advantages-program-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.advantages-program-box {
  position: relative;
  background: #F6F6F6;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 1;
  width: calc(33.3% - 5px);
  cursor: pointer; }
  .advantages-program-box:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    opacity: 0;
    background: #3A3B3F; }
  .advantages-program-box__body {
    position: relative;
    z-index: 2;
    padding: 20px 50px 50px; }
  .advantages-program-box h3 {
    font-size: 32px; }
  .advantages-program-box .box-text {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%; }
  .advantages-program-box__img {
    position: relative;
    z-index: 2;
    margin: -80px 0 0;
    height: 270px;
    padding: 0 50px; }
    .advantages-program-box__img img {
      max-height: 100%; }
  .advantages-program-box:hover {
    color: #fff;
    z-index: 2;
    -webkit-box-shadow: 0px 30px 80px -20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 30px 80px -20px rgba(0, 0, 0, 0.05); }
    .advantages-program-box:hover:before {
      z-index: 2;
      opacity: 1; }
    .advantages-program-box:hover .btn {
      color: #fff; }

.tab-content-col-25 {
  padding: 0 5px;
  width: 25%;
  margin: 0 0 10px; }

.tab-content-col-30 {
  padding: 0 5px;
  width: 33.3%;
  margin: 0 0 10px; }

.ideas-interior-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 268px; }
  .ideas-interior-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.useful-publications-box {
  font-size: 14px;
  line-height: 150%; }
  .useful-publications-box__img {
    width: 100%;
    height: 218px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .useful-publications-box__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .useful-publications-box__body {
    width: 100%;
    padding: 30px 80px 0 0; }
  .useful-publications-box__title {
    margin: 10px 0;
    color: #272727;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; }
    .useful-publications-box__title:hover {
      color: #A81815; }
  .useful-publications-box__category {
    color: #8D8D91;
    margin: 10px 0 0; }
    .useful-publications-box__category:hover {
      color: #A81815; }

.date {
  color: #8D8D91;
  font-size: 14px; }

/*==========  section advantages-program end  ==========*/
/*==========  section about ==========*/
.about {
  background: #F6F6F6; }
  .about .description-company {
    margin: 30px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    max-width: 625px; }
  .about .box-text {
    max-width: 625px; }
  .about .btn {
    margin: 30px 0 0; }

.about-content {
  padding: 108px 0; }

.about-slider {
  min-width: 885px;
  margin-left: -15px;
  height: 100%; }
  .about-slider .slick-list, .about-slider .slick-track {
    height: 100%; }
  .about-slider .video-box {
    min-width: 885px; }
  .about-slider .slick-dots {
    bottom: 30px; }

.video-box {
  position: relative;
  padding-bottom: 59%;
  width: 100%;
  height: 100%; }
  .video-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 0;
    top: 0; }
  .video-box iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -webkit-gradient(linear, left bottom, left top, from(#DE2C29), to(#DE2C29)), #A81815;
  background: linear-gradient(0deg, #DE2C29, #DE2C29), #A81815;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-play:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-left: 12.5px solid #fff;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent; }

/*==========  section about end  ==========*/
/*==========  section partners ==========*/
.partners-slider {
  min-width: 2000px; }
  .partners-slider .slick-slide {
    margin: 0 50px 0 0; }

.partners-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  height: 50px;
  cursor: pointer; }
  .partners-box img {
    max-height: 100%; }
  .partners-box:hover {
    -webkit-filter: none;
            filter: none; }

.partners-wrapper {
  padding: 50px 0; }

/*==========  section partners end  ==========*/
/*==========  section services ==========*/
.services-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 30px 80px -20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 30px 80px -20px rgba(0, 0, 0, 0.05);
  background: -webkit-gradient(linear, left bottom, left top, from(#919296), to(#919296)), #939393;
  background: linear-gradient(0deg, #919296, #919296), #939393; }

.services-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #E6E6E6;
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 40px;
  font-size: 14px;
  font-weight: 500; }
  .services-box:before {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-box-shadow: 0px 50px 80px -50px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 50px 80px -50px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left bottom, left top, from(#DE2C29), to(#DE2C29)), #A81815;
    background: linear-gradient(0deg, #DE2C29, #DE2C29), #A81815;
    z-index: -1; }
  .services-box__icon {
    margin: 0 0 16px;
    height: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .services-box__icon img {
      max-height: 100%; }
  .services-box:last-child {
    border: none; }
  .services-box:hover {
    color: #fff;
    z-index: 2; }
    .services-box:hover:before {
      opacity: 1; }

/*==========  section services end  ==========*/
/*==========  section reviews ==========*/
.reviews {
  background: #F6F6F6; }

.btn-view {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 50%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3A3B3F;
  top: -40px;
  padding: 24px;
  z-index: 2;
  fill: none; }
  .btn-view__text {
    display: none; }

.reviews-card {
  position: relative;
  z-index: 1;
  background: #ffff;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .reviews-card:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: #ffff;
    opacity: 0;
    z-index: -1;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .reviews-card:hover {
    -webkit-box-shadow: 0 80px 80px -50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 80px 80px -50px rgba(0, 0, 0, 0.1); }
    .reviews-card:hover:before {
      opacity: 1; }
    .reviews-card:hover .btn-view {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .reviews-card .name-user {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 5px; }
  .reviews-card__wrapper {
    width: 100%;
    padding: 30px 30px 0;
    position: relative; }
    .reviews-card__wrapper:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      z-index: 1; }
  .reviews-card__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .reviews-card__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    background: -webkit-gradient(linear, left bottom, left top, from(#919296), to(#919296)), #939393;
    background: linear-gradient(0deg, #919296, #919296), #939393;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600; }
    .reviews-card__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .reviews-card__body {
    margin: 10px 0 0;
    padding: 0 0 30px;
    height: 105px;
    overflow-y: auto; }
    .reviews-card__body .box-text {
      line-height: 150%; }

.answer-box {
  position: relative;
  border-top: 1px solid #F6F6F6;
  padding: 30px 30px 0; }
  .answer-box:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    z-index: 1; }
  .answer-box__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px;
    width: 100%; }
    .answer-box__head p {
      margin: 0 20px 0 0;
      color: #A81815;
      font-weight: 500;
      font-size: 18px; }
  .answer-box__body {
    width: 100%;
    overflow-y: auto;
    height: 68px;
    bottom: 30px; }

/*==========  section reviews end  ==========*/
