/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1880px) {
  .header-bottom .form-search {
    max-width: 450px; }
  .description-company {
    margin: 0 30px; }
  .dropdown-contacts {
    margin: 0; }
  .header-top .navigation-user a, .header-top .navigation-user a:first-child {
    padding: 18px 20px; }
  .header-top .navigation-user-links__text {
    right: 2px; }
  .header-top.fixed .menu {
    margin: 0 auto 0 0; }
    .header-top.fixed .menu li {
      margin: 0; }
  .about-slider {
    min-width: 725px; }
    .about-slider .video-box {
      min-width: 725px; } }

@media only screen and (max-width: 1750px) {
  .header-bottom .form-search {
    max-width: 324px; }
    .header-bottom .form-search input {
      height: 50px; }
  .navigation-user li a {
    padding: 0 30px; }
  .header-top .logo {
    margin: 0 20px 0 0; }
  .header-top.fixed .menu li > a {
    padding: 19.38px 12px; }
  .header-top.fixed .mr-25 {
    margin-right: 15px; }
  .header-top.fixed .list-messenger {
    margin: 0 15px; }
  .user-links .navigation-user-links__icon {
    margin: 0 15px 0 0; }
  .header-top .logo {
    max-width: 100px; }
  .header-top.fixed .navigation-user {
    margin-left: 10px; }
  .mCustomScrollbar-wrap {
    padding: 0; }
  .about-content {
    padding: 98px 0; }
  .about .description-company, .about .box-text {
    max-width: 560px; }
  .services-box {
    padding: 30px; } }

@media only screen and (max-width: 1610px) {
  .header-top.fixed .logo {
    display: none; }
  .container {
    max-width: 1310px; }
  .advantages-category-item {
    padding: 30px 50px 0 60px; }
  .product-card__photo {
    height: 239px; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1510px) {
  .header-top.fixed .navigation-user {
    display: none; }
  .header-top.fixed .container-fluid {
    padding: 0 20px; } }

@media only screen and (max-width: 1370px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1024px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
