@import "vars"

/*==========  footer  ==========*/
footer
  padding: 100px 0
  color: #fff
  background: #3A3B3F
  .logo
    max-width: 122px
  .list-social
    margin: 20px 0
    li
      margin: 0 10px 0 0
      &:last-child
        margin: 0
      a
        background: #8D8D91
        fill: #fff
        width: 52px
        height: 52px

.footer-top
  padding: 0 0 50px
  font-size: 16px
  line-height: 150%
  font-weight: 500


.phone-company
  font-size: 28px
  font-weight: 500
  color: #fff
  margin: 20px 0
  &:hover
    color: $accent

.mail-company
  color: #fff
  &:hover
    color: $accent

.callback-phones
  margin: 0 0 20px
  max-width: 282px
  width: 100%
  p
    margin: 0 0 10px

.form-call
  input
    background: transparent
    border: 1px solid #fff
    text-align: center
    height: 44px
    color: #FFFFFF
    &::placeholder
      color: #FFFFFF
  button
    margin: 10px 0


.footer-bottom
  border-top: 1px solid rgba(#fff, .1)
  padding: 50px 0 0

.copyright
  font-size: 14px
  line-height: 160%
  p
    margin: 0 0 6px
    &:last-child
      margin: 0
  strong
    font-weight: 500


.developer
  display: flex
  align-items: center
  color: #fff
  font-size: 14px
  font-weight: 500
  margin: 0 0 0 auto
  span
    display: inline-block
    margin: 0 10px 0 0
  &:hover
    color: $accent


/*==========  footer end  ==========*/



/*==========  section modal ==========*/
.modal-dialog
  max-width: 739px

.modal-content
  border: none
    radius: 0
  background: #fff
  padding: 50px

.modal-body
  font-size: 14px
  padding: 0
  h3
    text-align: center
    font-size: 32px
    line-height: 100%

.modal-header
  padding: 0
  border: none
  justify-content: space-between
  align-items: center
  margin: 0 0 50px
  .close
    position: relative
    padding: 0
    z-index: 1
    opacity: 1
    display: flex
    align-items: center
    justify-content: center
    fill: $black
    width: 32px
    height: 32px
    margin: 0
    text-shadow: none
    &:hover
      opacity: 1
      fill: $accent


.modal-title
  font-size: 48px

.check-icon
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto 50px
  background: linear-gradient(0deg, #DE2C29, #DE2C29), #A81815
  width: 52px
  height: 52px
  border-radius: 50%

#thanksModal
  .modal-dialog
    max-width: 588px
  .box-text
    max-width: 428px
    margin: 50px auto
    font-size: 16px
    font-weight: 500

.timer-modal
  text-align: center
  color: #8D8D91
  font-weight: 500
  a
    color: #8D8D91

/*==========  section modal end ==========*/